@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .table-head {
    @apply bg-brand text-white
  }

  .table-tr {
    @apply bg-brand-light border-4 border-white text-text-light
  }

  .table-body-th {
    @apply text-text font-normal
  }

  .table-icon {
    @apply text-brand-dark pl-1 w-12
  }

  .table-i {
    @apply text-brand-dark
  }

}

div.container {
  margin-top: 20px;
}


button.btn {
  background-color: #999999;
  color: white;
  font-weight: bold;
}

button.btn:hover {
  color: white;
}

.Summary {
  padding-top: 150px;
}